@{
    ViewBag.Title = "Help";
}
<h1>@ViewBag.Title.</h1>
<h3></h3>



<h3>Roles:</h3><br/>
<div>
    <p style="font-weight:bold">Administrator:</p> 
    who can archive and delete stories.<br /><br />
    <p style="font-weight:bold">Developer:</p>
    who can create and edit stories, including those already created.<br /><br />
</div>

<h3>Functionalities:</h3><br />
<div>
    <p style="font-weight:bold">StoryBlocks:</p>
    Structure that contains an image or drawing, a caption, and text description<br/><br />
    <p style="font-weight:bold">Stories:</p>
    A collection of a serious of stoy blocks and tells a complete story.<br /><br />
    <p style="font-weight:bold">collages:</p>
    A collection of stories that allow user to see, download and allow administrator to archive.<br /><br />
    <p style="font-weight:bold">Upload:</p>
    Allow user developer to creat story buy uploading information and image of storyblocks though both website and WPF.<br /><br />
    <p style="font-weight:bold">Download:</p>
    Allow users to download complete collage form both webpage and WPF.
</div>